Debug/
Clerk/Thumbs.db
Clerk/Resources/Thumbs.db
Clerk.opensdf
Clerk.VC.db
Clerk.sdf
.vs/Clerk/v15/Browse.VC.db
.vs/Clerk/v15/ipch
.vs/Clerk/v15/Browse.VC.opendb
.vs/Clerk/v15/.suo
.vs
Clerk/Resource.aps
packages
Clerk/LastCoverageResults.log
.opencppcov
Debug x64
